# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.log
*.out
# Virtual environments
.env
.venv
env/
ENV/
venv/

# MLflow
mlruns/
mlartifacts/
mlflow.db
mlflow.log

#Angular 
# See https://angular.io/guide/build for Angular CLI builds
# Compiled output
/dist/
/out-tsc/
/build/

# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
.pnpm-debug.log*
package-lock.json
yarn.lock

# Compiled JavaScript
*.js
*.js.map

